<%- include("partials/header.ejs") %>

    <link rel="stylesheet" href="/css/all-recipes.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">

    <%- include("partials/navbar.ejs") %>


        <div class="top-rated container-fluid">
            <h1>
                <%=category%> Recipes
            </h1>
            <div class="top-rated-recipes">
                <% recipes.forEach(recipe=> {%>
                    <a href="/recipes/<%=recipe.id%>">
                        <div class="recipe-card">
                            <div class="imagewrap">
                                <img src="/uploaded-images/<%=recipe.imageNames[0]%> " alt="">
                            </div>
                            <h2>
                                <%=recipe.name%>
                            </h2>
                        </div>
                    </a>
                    <%}) %>
            </div>
        </div>

        <%- include("partials/footer.ejs") %>