<%- include("partials/header.ejs") %>

    <link rel="stylesheet" href="/css/favourites.css">
    <link rel="stylesheet" href="/css/user-nav.css">
    <link rel="stylesheet" href="/css/footer.css">

    <%- include("partials/user-nav.ejs") %>


        <div class="favourite container-fluid">
            <h1>Favourite Recipes</h1>
            <div class="favourite-recipes">
                <% recipes.forEach(recipe=> {%>
                    <a href="/recipes/<%=recipe.id%>">
                        <div class="recipe-card">
                            <div class="imagewrap">
                                <img src="/uploaded-images/<%=recipe.imageNames[0]%> " alt="">
                            </div>
                            <h3>
                                <%=recipe.name%>
                            </h3>
                            <span>Added By: <%=recipe.addedBy%></span>
                        </div>
                    </a>
                    <%}) %>
            </div>
        </div>


        <%- include("partials/footer.ejs") %>