<%- include("partials/header.ejs") %>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">

    <%- include("partials/navbar.ejs") %>
        <!-- Top Section -->
        <div class="heading-section container-fluid">
            <div class="top-div">
                <h1>YOUR OWN PERSONAL COOKBOOK.</h1>
                <P>Anything, Anytime, Anywhere</P>
                <div class="d-grid gap-2 col-6 get-started-div">
                    <button type="button" class="btn btn-outline-success btn-lg"> <a href="/signup">Get
                            Started</a></button>
                </div>
            </div>
        </div>

        <!-- Carousel -->
        <div id="carouselControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval=3000>
            <div class="carousel-inner myCarousel">
                <div class="carousel-item active">
                    <img src="/images/carousel-img-1.jpg" class="d-block w-100" alt="...">
                    <h2>feeling hungry? we got you :) let's get cooking!</h2>
                </div>
                <div class="carousel-item">
                    <img src="/images/carousel-img-2.jpg" class="d-block w-100" alt="...">
                    <h2>you can choose from a wide range of recipes!</h2>
                </div>
                <div class="carousel-item">
                    <img src="/images/carousel-img-3.jpg" class="d-block w-100" alt="...">
                    <h2>add your own recipes and share with the world!</h2>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Recipes Display -->
        <div class="top-rated container-fluid">
            <h1>Top Rated Recipes</h1>
            <div class="top-rated-recipes">
                <% recipes.forEach(recipe=> {%>
                    <a href="/recipes/<%=recipe.id%>">
                        <div class="recipe-card">
                            <div class="imagewrap">
                                <img src="/uploaded-images/<%=recipe.imageNames[0]%> " alt="">
                            </div>
                            <h3>
                                <%=recipe.name%>
                            </h3>
                            <span>Added By: <%=recipe.addedBy%></span>
                        </div>
                    </a>
                    <%}) %>
            </div>
            <a href="/all-recipes/Top-Rated" class="more-recipes">View More...</a>
        </div>

        <div class="latest container-fluid">
            <h1>Latest Recipes</h1>
            <div class="latest-recipes">
                <% recipes.forEach(recipe=> {%>
                    <a href="/recipes/<%=recipe.id%>">
                        <div class="recipe-card">
                            <div class="imagewrap">
                                <img src="/uploaded-images/<%=recipe.imageNames[0]%> " alt="">
                            </div>
                            <h3>
                                <%=recipe.name%>
                            </h3>
                            <span>Added By: <%=recipe.addedBy%></span>
                        </div>
                    </a>
                    <%}) %>
            </div>
            <a href="/all-recipes/Latest" class="more-recipes">View More...</a>
        </div>

        <div class="view-all-recipes">
            <button class="d-grid gap-2 col-3 btn btn-outline-success btn-lg"><a href="/all-recipes/All">View All</a></button>
        </div>
        <%- include("partials/footer.ejs") %>