<%- include("partials/header.ejs") %>

    <link rel="stylesheet" href="/css/landing-page.css">
    <link rel="stylesheet" href="/css/user-nav.css">
    <link rel="stylesheet" href="/css/footer.css">

    <%- include("partials/user-nav.ejs") %>

        <div class="profile-wrapper">
            <div class="profile-info">
                <h2>Welcome <%=user.name%>
                </h2>
                <p>Email: <%=user.username%>
                </p>
                <%if(user.phoneNum){%>
                    <p>Phone: <%=user.phoneNum%>
                    </p>
                    <%}%>
                        <%if(user.age){%>
                            <p>Age: <%=user.age%>
                            </p>
                            <%}%>
                                <%if(user.address){%>
                                    <p>Address: <%=user.address%>
                                    </p>
                                    <%}%>
                                        <%if(user.hobbies){%>
                                            <p>Hobbies: <%=user.hobbies%>
                                            </p>
                                            <%}%>
                                                <%if(user.about){%>
                                                    <p>
                                                        <%=user.about%>
                                                    </p>
                                                    <%}%>
            </div>
            <div class="user-buttons">
                <button class="d-grid gap-2 col-3 btn btn-outline-success btn-lg"><a href="/add-recipe">Add
                        recipe</a></button>
                <button class="d-grid gap-2 col-3 btn btn-outline-success btn-lg"><a href="/">Favourites</a></button>
            </div>
        </div>

        <div class="my-recipes container-fluid">
            <h1>My Recipes</h1>
            <div class="user-recipes">
                <%if(recipes.length===0){%>
                    <h4>You don't have any recipes yet</h4>
                    <%} else {%>
                        <% recipes.forEach(recipe=> {%>
                            <a href="/recipes/<%=recipe.id%>">
                                <div class="recipe-card">
                                    <div class="imagewrap">
                                        <div class="edit-btn">
                                            <form action="/edit-recipe/<%=recipe.id%>" method="get">
                                                <input type="hidden" value="<%=recipe.id%>" name="recipeId">
                                                <button type="submit"><i class="fa-solid fa-pen"></i></button>
                                            </form>
                                        </div>
                                        <img src="/uploaded-images/<%=recipe.imageNames[0]%> " alt="">
                                    </div>
                                    <h2>
                                        <%=recipe.name%>
                                    </h2>
                                </div>
                            </a>
                            <%}) %>
                                <%}%>

            </div>
        </div>





        <%- include("partials/footer.ejs") %>