<%- include("partials/header.ejs") %>

    <link rel="stylesheet" href="/css/recipe.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">

    <%- include("partials/navbar.ejs") %>

        <div class="individual-recipe container-fluid">
            <h1>
                <%=recipe.name%>
            </h1>
            <p>
                <%=recipe.desc%>
            </p>
        </div>

        <%- include("partials/footer.ejs") %>