<%- include("partials/header.ejs") %>

    <link rel="stylesheet" href="/css/recipe.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">

    <%- include("partials/navbar.ejs") %>

        <div class="individual-recipe container-fluid">
            <h1>
                <%=recipe.name%>
            </h1>

            <div class="imagewrapper">
                <% for(let i=0;i< recipe.imageNames.length;i++){%>
                    <img src="/uploaded-images/<%=recipe.imageNames[i]%> ">
                    <%}%>
            </div>
            <h2>Ingredients Required</h2>
            <p class="ingre-p">
                <%=recipe.ingredients%>
            </p>
            <h2>Directions</h2>
            <p>
                <%=recipe.desc%>
            </p>
        </div>

        <%- include("partials/footer.ejs") %>