<%- include("partials/header.ejs") %>

    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">

    <%- include("partials/navbar.ejs") %>

        <div class="top-rated container-fluid">
            <%if(recipes.length === 0){%>
                <h1>No Matches found for "<%=searchQuery%>"</h1>
                <h2>Please search for something else!!</h2>
                <%} else {%>
                    <h1>Search Results for "<%=searchQuery%>" </h1>
                    <div class="top-rated-recipes">
                        <% recipes.forEach(recipe=> {%>
                            <a href="/recipes/<%=recipe.id%>">
                                <div class="recipe-card">
                                    <div class="imagewrap">
                                        <img src="/uploaded-images/<%=recipe.imageNames[0]%> " alt="">
                                    </div>
                                    <h3>
                                        <%=recipe.name%>
                                    </h3>
                                    <span>Added By: <%=recipe.addedBy%></span>
                                </div>
                            </a>
                            <%}) %>
                    </div>
                    <%}%>
        </div>

        <%- include("partials/footer.ejs") %>